<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rental.car.rentalapp.service.rent.repository.car.CarRepository">

            <resultMap id="Car" type="com.rental.car.rentalapp.service.rent.model.Car">
                <result column="car_id" jdbcType="BIGINT" property="carId" />
                <result column="model" jdbcType="VARCHAR" property="model" />
                <result column="car_number" jdbcType="VARCHAR" property="carNumber" />
            </resultMap>

            <select id="findAvailableCarsBy" resultMap="Car" >
                select car_id, model, car_number from car where car_number not in
                (select car_number from reservation where (start_at>=#{startAt} and start_at &lt;= #{endAt})
                                                   or (actual_end_at>=#{startAt}  and actual_end_at&lt;= #{endAt})
                                                   or (start_at&lt;= #{startAt} and actual_end_at>=#{endAt}))
            </select>

</mapper>