<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <title>Car Rental System</title>
</head>
<body>
<h1>Car Rental</h1>
<div class="contentDiv">

        <legend>
            <strong>You can check your reservations here.  </strong>
        </legend>

        <form th:action="@{/check-my-reservations}" th:object="${reservationQuery}" method="post" class="form-horizontal">
            <div class="form-group">
                <label for="mobile" class="col-sm-2 control-label">Mobile:</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="mobile" name="mobile" th:field="*{mobile}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary" type="submit" value="Search"/>
                </div>
            </div>
        </form>

        <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>TransactionID</th>
            <th>Start</th>
            <th>End</th>
            <th>Model</th>
            <th>Car Number</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${reservations}">
            <td th:text="${reservation.transactionId}"></td>
            <td th:text="${reservation.startAt}"></td>
            <td th:text="${reservation.predictedEndAt}"></td>
            <td th:text="${reservation.car.model}"></td>
            <td th:text="${reservation.car.carNumber}"></td>
            <td th:text="${reservation.mobile}"></td>
            <td th:text="${reservation.email}"></td>
            <td th:text="${reservation.firstName}"></td>
            <td th:text="${reservation.lastName}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/}">Go back</a>
</div>

</body>
</html>